.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.mainColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative; /* for overlay secondary inside */
  overflow: hidden;
}

.mainContent {
  flex: 1;
  overflow: auto;
  background: #111;
  color: #fff;
  position: relative;
  z-index: 3;
}
