.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.body {
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 0;
}

.mainContent {
  flex: 1;
  padding: 0;
  overflow-y: auto;
}
