.panel {
  display: flex;
  flex-direction: column;
  width: 200px;
  background: #00000000;
  border-right: 1px solid #333;
  position: relative;
  z-index: 2000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: 2px 0 6px rgba(0,0,0,0.5);
  z-index: 2000;
}

.resizeHandle {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  cursor: ew-resize;
  background: rgba(84, 18, 18, 0.05);
  z-index: 9999;
  pointer-events: all;
}

.resizeHandle:hover {
  background: rgba(84, 18, 18, 0.15);
}
