/* src/features/watchlists/watchlistSidePanel/WatchlistPanel.module.css */
.sideNav {
  width: 200px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  transition: width 0.25s ease;
}

.sideNav.collapsed {
  width: 48px;
}

.toggleBtn {
  height: 40px;
  width: 100%;
  background-color: #000000;
  color: #9ca3af;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reversedIcon {
  transition: transform 0.1s ease;
}

.reversedIcon.open {
  transform: rotate(180deg);
}
