/* components/ModelCard.module.css */

.card {
  background-color: #1e1e1e;
  /* dark card background */
  /* border: 1px solid #2a2a2a; */
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}