.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
}
.body {
  display: flex;
  flex: 1;
  min-height: 0;
  position: relative;
}

.mainColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0;
  position: relative;
}


.mainContentWrapper {
  flex: 1;       /* height is explicitly set by JS */
  overflow-y: auto;
  min-height: 0;
  padding: 0;
  margin: 0;
  position: relative; /* for overlay sections */
}

.mainContent {
  background: #111;
  color: #fff;
  padding: 16px;
    padding: 0;
  margin: 0;
}
