.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.resizeHandle {
  height: 5px;
  cursor: ns-resize;
  background: rgba(255,255,255,0.05);
  flex-shrink: 0;
}
